<template>
  <div class="right_col" role="main" style="min-height: calc(100vh - 50px)">
    <div class="page-title">
      <div class="title_left">
        <h3>Genel Ayarlar</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Site Ayarları</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div :class="`alert alert-${alert.type}`" v-show="alert.type">
              {{ alert.message }}
            </div>
            <br />
            <form class="form-horizontal form-label-left" @submit="saveSettings">
              <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Site URL</label>
                <div class="col-md-9 col-sm-9 ">
                  <input type="text" class="form-control" v-model="formData.siteUrl">
                </div>
              </div>
              <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Site Başlık</label>
                <div class="col-md-9 col-sm-9 ">
                  <input type="text" class="form-control" v-model="formData.siteTitle">
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3 col-sm-3 ">Site Açıklama <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 ">
                  <textarea class="form-control" rows="3" v-model="formData.siteDesc"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3 col-sm-3 ">Site Keyword <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 ">
                  <textarea class="form-control" rows="3" v-model="formData.siteKeyw"></textarea>
                </div>
              </div>
              <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Site Email</label>
                <div class="col-md-9 col-sm-9 ">
                  <input type="text" class="form-control" v-model="formData.siteEmail">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 ">Site Durumu</label>
                <div class="col-md-6 col-sm-6 ">
                  <div id="gender" class="btn-group" data-toggle="buttons">
                    <label :class="['btn', {'btn-primary':formData.siteState == 1}]" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="gender" value="1" class="join-btn" v-model="formData.siteState"> &nbsp; Açık &nbsp;
                    </label>
                    <label :class="['btn', {'btn-primary':formData.siteState == 0}]" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="gender" value="0" class="join-btn" v-model="formData.siteState"> Bakımda
                    </label>
                  </div>
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9  offset-md-3">
                  <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'SettingsView',
  data(){
    return {
      alert: {
        message: '',
        type: '',
      },
      formData: {
        siteUrl: '',
        siteTitle: '',
        siteDesc: '',
        siteKeyw: '',
        siteEmail: '',
        siteState: false
      }
    }
  },
  methods: {
    getSettings(){
      axios.get('https://cms-api.tunadastan.com/settings.php')
          .then(response => {
            console.log("::getSettings", response);
            this.formData.siteUrl = response.data.site_url;
            this.formData.siteTitle = response.data.site_title;
            this.formData.siteDesc = response.data.site_desc;
            this.formData.siteKeyw = response.data.site_keyw;
            this.formData.siteEmail = response.data.site_email;
            this.formData.siteState = response.data.site_state;
          })
    },
    saveSettings(e){
      e.preventDefault();
      axios.post('https://cms-api.tunadastan.com/settings.php', this.formData)
          .then(response => {
            console.log("::saveSettings", response);
            this.showAlert('success', 'Yeni değerler başarıyla güncellendi!');
          })
          .catch(error => {
            console.error(error);
            this.showAlert('error', 'Bir sorun oluştu');
          })
    },
    showAlert(type, message){
      this.alert.type = type;
      this.alert.message = message;
      setTimeout(() => {
        this.alert.type = '';
        this.alert.message = '';
      }, 5000)
    }
  },
  mounted() {
    this.getSettings();
  }
}
</script>