<template>
  <footer>
    <div class="pull-right">
      TunaDaştan - Tüm hakları saklıdır. &copy; {{new Date().getFullYear()}} - <a href="https://yuceloper.com" target="_blank">Yuceloper</a>
    </div>
    <div class="clearfix"></div>
  </footer>
</template>