<script setup>
import TopNavigationMenu from "@/components/common/TopNavigationMenu.vue";
import FooterGeneral from "@/components/common/FooterGeneral.vue";
import SideMenu from "@/components/common/SideMenu.vue";
</script>

<template>
  <body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <SideMenu />
      <TopNavigationMenu />
      <RouterView />
      <FooterGeneral/>
    </div>
  </div>
  </body>
</template>

<style scoped>
</style>
